.scrollTop {
    position: fixed; 
    width: 100px;
    bottom: 20px;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.pagination-post {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.pagination__link {
  padding: 3rem;
  color:  #6700ee;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: scale(1.5);
    color: black;
  }
}

.pagination__link--disabled{
  color: #f3f3f3;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: scale(1.5);
    color: black;
  }
}

.pagination__link--active {
  color: #6700ee;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    transform: scale(1.5);
    color: black;
  }
}